@import '../../../node_modules/antd/dist/antd.css';

.login-div {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 30%;
    margin-top: 13%;
}

.login-form {
    margin-right: 10%;
}

.outer-box {
    text-align: left;
    background-color: #3a4d46;
    color: whitesmoke;
    border-radius: 10px;
    width: 400pt;
    height: 330pt;
    max-width: 400pt;
    padding: 7pt;
    margin: 10%;
}

.ant-input {
    line-height: 1.9;
    width: 285pt;
}

.ant-input-affix-wrapper {
    width: 285pt;
}

.submit-button {
    background-color: rgb(236, 162, 149);
    color: #3a4d46;
    border-radius: 30px;
    width: 120pt;
    height: 30pt;
    margin-left: 13%;
    margin-top: 10%;
}

.login-label {
    padding-left: 40pt;
    color: rgb(236, 162, 149);
    font-size: 17pt;
    font-weight: 400;
    margin-bottom: 3%;
    line-height: 15pt;

}

.ant-form-item {
    margin-left: 20%;
}

.pass {
    padding-right: 100pt;
    padding-left: 0pt;
}

.title-text {
    padding-left: 5pt;
    padding-top: 5pt;
    font-size: 25pt;
    font-weight: 500;
    color: rgb(236, 162, 149);
}

.ant-form-item-explain {
    width: 200pt;
    margin-left: 0%;
    padding-left: 0;
}

#reg-reminder {
    font-size: 11pt;
    margin-left: 35%;
    font-weight: 500;
}